:root{
  --color-dark: #404040;
  --color-orange: #F18119;
  --color-light-orange: #FFA51D;
  --color-dark-orange: #FF7138;
}


body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: var(--color-dark);
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
}

/*seleciona o p logo após o h1*/
h1 + p {
  color: var(--color-orange);
  font-weight: 900;
  font-size: 1.3125rem;
}

h2 {
   font-size: 1.3125rem;
}

h2 + p {
   color: var(--color-orange);
   font: weight; 900;
   font-size: 1rem;
   text-transform: uppercase;
}

strong {
   font-weight: 900;
}

.top-text{
   font-size: 0.625rem;
   font-weight: 900;
   color: var(--color-orange); 
   text-transform: uppercase;
}