:root{
  --color-dark: #404040;
  --color-orange: #F18119;
  --color-light-orange: #FFA51D;
  --color-dark-orange: #FF7138;
}

*{
/*   padrão content-box */
  box-sizing: border-box;
/*   leva em conta todo o conteudo de padding, margin e border na largura do elemento */
}

body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: var(--color-dark);
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
  margin: 2em 0;
}

/*seleciona o p logo após o h1*/
h1 + p {
  color: var(--color-orange);
  font-weight: 900;
  font-size: 1.3125rem;
  margin: 0;
  text-transform: uppercase;
}


h2 {
   font-size: 1.3125rem;
   margin: 0;
}

h2 + p {
   color: var(--color-orange);
   font-weight: 900;
   text-transform: uppercase;
   margin-top: 0;
}

strong {
   font-weight: 900;
}

.top-text{
   font-size: 0.625rem;
   font-weight: 900;
   color: var(--color-orange); 
   text-transform: uppercase;
   order: -99;
}

.fine-print{
   font-size: 0.625rem;
   letter-spacing: 1px;
}


/* Intro Section  */

.intro{
  background-color: var(--color-dark);
  background-image: url(../images/dark-ribs.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 0.5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min: height; 50vh;
}


/* Main Content */

.main-content {
    padding: 2em 1em;
}

/* seleciona somente os filhos diretos */
.intro > *,
.main-content > * {
   max-width: 400px;
   margin-left: auto;
   margin-right: auto;
}


/* Media Queries */

@media (min-width: 500px){
   body{
      font-size: 1.125rem;
   }
   h1{
      font-size: 3.5rem;
   }
   h2,
   h1 + p{
      font-size: 1.75rem;
   }
   .container{
      display:flex;
      justify-content: space-between;
      align-items: center;
   }

   .intro,
   .main-content{
      width: 50%;
      min-height: 100vh;
   }

  .main-content {
     display: flex;
     flex-direction: column;
     justify-content: center;
  }
}